<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="cn.tedu.store.mapper.CartMapper">
	<!-- 插入購物車 -->
	<!-- void insertCart(Cart cart); -->
	<insert id="insertCart" parameterType="cn.tedu.store.bean.Cart">
		INSERT INTO
			t_cart(
			uid,
			goods_id,
			count,
			created_user,
			created_time,
			modified_user,
			modified_time	
		)values(
			#{uid},
			#{goodsId},
			#{count},
			#{createdUser},
			#{createdTime},
			#{modifiedUser},
			#{modifiedTime}
		)
	</insert>
	<!-- 透過uid找出用戶購物車 -->
	<!-- List<CartVo> selectCart(Integer uid); -->
	<select id="selectCart" resultType="cn.tedu.store.vo.CartVo">
		SELECT 
			t_cart.id as id,
			t_cart.uid as uid,
			t_cart.goods_id as goodsId,
			image,
			title,
			price,
			count
		FROM
			t_cart,t_goods
		WHERE
			t_cart.goods_id=t_goods.id
		AND
			t_cart.uid=#{uid}
	</select>
	<!-- 透過id刪除购物車 -->
	<!-- void deleteById(Integer id); -->
	<delete id="deleteById">
		DELETE FROM
			t_cart
		where
			id=#{id}
	</delete>
	<!-- 批量删除购物车，透过id数组 -->
	<!-- 	void deleteBactchById(Integer [] ids); -->
	<delete id="deleteBactchById" parameterType="java.lang.Integer">
		DELETE FROM
			t_cart
		WHERE
			id in
			<foreach collection="array" item="id" open="(" separator=","
			   close=")" >
				#{id}
			</foreach>
	</delete>
	<!-- 修改购物车的商品数量 -->
	<!-- 	
		void updateCountById(@Param("id") Integer id, @Param("count") Integer count);
	 -->
	 <update id="updateCountById">
	 	UPDATE
	 		t_cart
	 	SET
	 		count=#{count}
	 	WHERE
	 		id=#{id}
	 </update>
</mapper>
